/*#menu_gauche, #menu_input_datas{
	display:none;
}*/

body {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #555;
	background: #FFF;
}

th, td, button, input {
	font-size: 12px;
}

h1 {
	color: #93B300;
	font-weight: bold;
	font-size: 14px;
	margin: 3px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #CCC;
}

h2 {
	color: #F90;
	font-weight: bold;
	font-size: 12px;
	margin: 3px 3px 3px 0px;
}

a {
	font-weight:bold;
	color: #666;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

img { border: none; }

.icon { width:16px; height:16px; }
.center { text-align: center; }
.sep {
	line-height: 1px;
	margin: 20px 0px;
	padding: 0px;
	border-top: 1px solid #DDD;
}
.p10 { font-size: 10px; }

input.infos {
	width: 80%;
	font-family: "Courier New";
	background-color: #FFF;
	text-align: center;
	border: none;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 3px;
}

p.c { text-align: center; }

p.error {
	background: url(img/icons/alert.png) no-repeat 5px 5px;
	color: #A00;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 5px;
	padding-left: 25px;
	margin: 10px;
	border: 1px solid #A00;
}

p.success {
	background: url(img/icons/valid.png) no-repeat 5px 5px;
	color: #11A98E;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 5px;
	padding-left: 25px;
	margin: 10px;
	border: 1px solid #11A98E;
}

p.info {
	background: url(img/icons/infos.png) no-repeat 5px 5px;
	color: #066;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 5px;
	padding-left: 25px;
	margin: 10px;
	border: 1px solid #0AA;
}

button {
	letter-spacing: 1.2px;
	margin-left: 4px;
	border: 1px solid #DDD;
	color: #000;
	font-weight: bold;
	padding: 2px;
	background: no-repeat 3px center #FFF;
}

button.submit {
	padding-left: 22px;
	background-image: url(img/icons/valid.png);
}

button.reset {
	padding-left: 22px;
	background-image: url(img/icons/reset.png);
}


fieldset {
	border: 1px solid #BBB;
	padding: 5px;
}

fieldset legend {
	font-weight: bold;
	font-size: 12px;
	color: #333;
}

acronym {
	border-bottom: 1px dotted #AAA;
	cursor: help;
}



table {
	border-collapse: collapse;
	empty-cells : show;
}

table th {
	font-weight: bold;
	color: #000;
	text-align:left;
	border-bottom: 2px solid #93B300;
}

table td {
	text-align:left;
	border: 1px solid #DDD;
}

table tr.bottom th {
	border-bottom: none;
	border-top: 2px solid #93B300;
}

td.c, th.c { text-align: center; }
td.r, th.r { text-align: right; }
td.l, th.l { text-align: left; }

dl.changelog dt {
	font-weight: bold;
	float: left;
	width: 190px;
	margin-bottom: 4px;
}

dl.changelog dd {
	margin-left: 200px;
	margin-bottom: 4px;
	padding-left: 10px;
	border-left: 1px solid #DDD;
}

dl.changelog dd div.version {
	color:#93B300;
	font-weight: bold;
	margin-bottom: 4px;
}


#date {
	border: 1px solid #BBB;
	color: #000;
	padding: 3px 2px 2px 24px;
	cursor: pointer;
	background: url(img/icons/calendar.png) no-repeat 2px center;
}

#log {
	margin-left: 5px;
	padding-left: 10px;
	border-left: 1px solid #AAA;
	font-family: "Courier New";
}

#callback_info {
	display: none;
	color: #000;
	font-weight: normal;
	font-size: 10px;
	text-decoration: none;
	letter-spacing: 2px;
	padding: 5px;
	padding-left: 5px;
	border: none;
}

#callback_button {
	margin-left: 25px;
}

/*******************************
			  MENU
********************************/
#menu {
	padding: 0px;
	margin: 10px 10px 0px 10px;
	border: 1px solid #FFF; /* Fix IE */
}

#menu li {
	display: inline;
	padding: 7px 0px 3px 7px;
	float: left;
	margin: 0px;
	background: url(img/menu_left.png) #FFF;
}

#menu li div {
	padding:1px 0px;
	background: no-repeat 3px center;
}

#menu li a {
	padding: 8px 9px 3px 24px;
	background: no-repeat right top url(img/menu_right.png);
}

#menu li.active a {
	color: #93b300;
	text-decoration: none;
}


/** Icones **/

#menu .config div {
	background-image : url(img/icons/config.png);
}

#menu .user div {
	background-image : url(img/icons/user.png);
}

#menu .mods div {
	background-image : url(img/icons/mods.png);
}

#menu .log div {
	background-image : url(img/icons/log.png);
}

#menu .infos div {
	background-image : url(img/icons/infos.png);
}

#menu .about div {
	background-image : url(img/icons/help.png);
}

/***********************************
			  PAGE LAYOUT
************************************/

.clear { clear: both; }

#wrapper {
	width: 650px;
	margin: 0px auto 10px auto;
}

#content {
	clear: left;
	border: 1px solid #DDD;
	padding: 10px;
}

#content .col {
	width: 300px;
	float: left;
	margin-right: 10px;
}

#content .chk {
	clear: both;
	float:right;
	margin-left: 10px;
}

#content p {
	margin: 5px 0px;
}

#actions a.action {
	float: left;
	padding: 0px 4px;
	width: 16px;
	text-decoration: none;
	background: url(img/icons/go.png) no-repeat center center;
}

#foot {
	color: #BBB;
	font-size: 11px;
	text-align: center;
}

#foot a { color:#BBB; }