

/* conf globale  */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

body {

    background: rgb(10, 0, 24) url("img/fond_1.jpg") no-repeat fixed left top;
    background-size: cover;

    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 12px;
}

li{
    line-height : 1.2em;
    list-style: none;
}




h1{
    text-align: center;
    font-size: 18px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0,0,0, 0.8) 10%, rgba(0,0,0, 0.8) 90%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 2px black, inset 0 0 1px rgba(255, 255, 255, 1);
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #ffffff 40%, #ffffff 60%, rgba(0, 0, 0, 0) 100%);
    padding-top: 5px;
    padding-bottom: 5px;
    color: yellow;

}

form {
    background-color: rgba(0,0,0,0.8);
    margin: 0 auto;
    width: 40%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;

}

form fieldset{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0,0,0, 0.8) 10%, rgba(0,0,0, 0.8) 90%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 2px black, inset 0 0 1px rgba(255, 255, 255, 1);
    border: 1px solid #CCC;
    border-radius: 1em;
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: #3F2158;
}

form div  {
    margin-top: 1em;
}

label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 40%;
    text-align: right;
    padding-right: 3em;
}

input {
    width: 40%;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-top :  5px;
    margin-bottom :  5px;

}

form .inputgalaxy{
    width: 80px;
    display: inline-block;
}





.button {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    border: 1px solid #CCC;

    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);

    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.button:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: rgba(0,0,0,0.8);
    transition: all 0.3s ease 0s;
    border: 1px solid black;
    cursor: pointer;

}


    /* fin conf globale  */
.main {
    height: 100%;
    min-height: 100%;
}

div.ban {
    background-image: url('img/logo_head.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 50px;
    margin-bottom: 0px;
    padding: 0px;
    padding-top: 20px;

}


div.menu {
    float: left;
    width: 15%;
    min-width: 200px;
    height: 100%;
    min-height: 100%;
    display: block;


}

div.menu aside .timer {
    color: whitesmoke;
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

div.menu aside .timer span {
    font-weight: bold;
    color: #ECFF00;
}

div.menu aside .offline {
    color: red;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

div.menu aside .logo_menu {
    background-image: url('img/logo_menu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 100%;
    width: 100%;
    height: 60px;
    padding: 0px;
    margin: 5px 0px 0px;


}

div.menu nav {
    text-transform: uppercase;
    color: white;
    padding-top: 10px;

}

div.menu nav a {
    text-transform: uppercase;
    color: white;

}

div.menu nav a:hover {
    text-transform: uppercase;
    color: #5CCCE8;
    margin-left: 2px;
    font-size: 12px;
    transition: margin-left 0.5s, color 0.5s;


}


div.menu nav .menu_mods {
    text-transform: uppercase;
    color: lime;

}

div.menu nav a {
    text-transform: uppercase;
    color: white;

}

div.menu nav ul {
    list-style: none;

}

div.menu nav ul li {

    margin-top: 5px;
    margin-right: 5px;

}

div.menu nav .menu_items_modules {
    color: #B6C6E5;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 11px;
    padding-left: 5px;


}

div.menu nav .menu_items_modules a:hover {
    margin-left: 12px;
    color: darkolivegreen;
    transition: margin-left 0.5s, color 0.5s;


}


div.content {

    padding-top: 100px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    min-height: 100%;
    display: inline-block;
    margin-bottom: 30px;

}


/*  content sans menu*/
   div.nomenu{
    width: 100%;
}




div.content .navbarreMenu{
    max-width: 100%;
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(0, 0, 0, 0) 100%);
    margin: 0 auto;
    padding: 20px 0;
}
div.content .navbarreMenu ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0,0,0, 0.8) 10%, rgba(0,0,0, 0.8) 90%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 2px black, inset 0 0 1px rgba(255, 255, 255, 1);
}


div.content .navbarreMenu ul  li {
    display: inline-block;
}

div.content .navbarreMenu ul  li a {
    padding: 10px;
    color: lime;
    font-size: 12px;
    text-decoration: none;
    display: block;
}
div.content .navbarreMenu ul  li a:hover {
 background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(30,16,42, 0.5) 25%, rgba(30,16,42, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
 color: #5CCCE8;
}

div.content .navbarreMenu ul  li.actif a{

 background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(30,16,42, 0.8) 25%, rgba(30,16,42, 0.8) 75%, rgba(255, 255, 255, 0) 100%);
 color: #5CCCE8;
}



#footbarre {
 background: linear-gradient(rgba(10, 0, 24, 0.2), rgba(10, 0, 24, 1));
 color: #ECFF00;
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 height: 30px;

}

#footbarre .toologs {
 float: left;
 width: 29%;
 margin: 0;
 padding: 0;
 text-align: left;
 padding-left: 1%;

}

#footbarre .online {
 float: left;
 width: 40%;
 margin: 0;
 padding: 0;
 text-align: center;
}

#footbarre .bench {
 float: left;
 width: 29%;
 margin: 0;
 padding: 0;
 text-align: right;
 padding-right: 1px;
}


#footbarre span.value {
 color: #FF6F00;
 font-weight: bold;
}

#footbarre span.nb_users {
 color: #FF6F00;
 font-weight: bold;
}

#footbarre span.version {
 color: #FF6F00;
 font-weight: bold;
}


/* Page About  */

.aboutoggsteam {
    padding: 1px;
    margin: auto;
    width: 80%;

    background-color: white;
    margin-bottom: 0px;
}
.aboutoggsteam p{
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.aboutoggsteam .memberogsteam {
    padding: 1px;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: black;
    background: linear-gradient(180deg, rgba(0,0,0, 0.5) 0%, rgba(0,0,0, 1) 2%,rgba(0,0,0, 1)  98% , rgba(0,0,0, 0.5)  100%);
}

.aboutoggsteam .memberogsteamavatar {
    float:left;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: black;

}
.aboutoggsteam .memberogsteamname {
    background: linear-gradient(90deg, rgba(0,0,0, 0.0)  0% , rgba(255, 255, 255, 0.5) 3%, rgba(0,0,0, 0.8) 80%,rgba(0,0,0, 0.0)  100%);
    color : yellow;
    float: left;
    width: 20%;
    height: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;

}
.aboutoggsteam .memberogsteamnrole {
    float: left;
    width: auto;
    height: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.aboutoggsteam .memberogsteamdescriptive {
    float: bottom;
    width: 80%;
    height: 80px;
    margin: 0;
    padding: 0;
    display: inline-block;

}

.aboutoggsteam .memberogsteamdescriptive {
    padding-left: 30px;
    margin-top: 15px;
}



/* Page Login  */
form.login{
width: 400px;
}
