/* line 5, ../../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, sass/_grid.scss */
html {
  height: 100%;
}

/* line 5, sass/_grid.scss */
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 150px 1fr 30px;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "header header" "menu content" "footer footer";
}

/* line 17, sass/_grid.scss */
header {
  grid-area: header;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
}

/* line 27, sass/_grid.scss */
.menu {
  grid-area: menu;
  margin-left: 10px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* line 36, sass/_grid.scss */
.content {
  grid-area: content;
  margin-left: 2px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* line 46, sass/_grid.scss */
.nomenu {
  margin-right: 260px;
}

/* line 50, sass/_grid.scss */
#footbarre {
  grid-area: footer;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #000103;
}

/* line 3, sass/_typo.scss */
h1 {
  color: #040D2C;
  font-size: 1.5em;
}

/* line 8, sass/_typo.scss */
.notice {
  color: #000103;
}

/* line 12, sass/_typo.scss */
.warning {
  color: red;
}

/* line 17, sass/_typo.scss */
a:link {
  text-decoration: none;
}

/* line 21, sass/_typo.scss */
a:visited {
  text-decoration: none;
}

/* line 25, sass/_typo.scss */
a:hover {
  text-decoration: none;
  cursor: default;
}

/* line 30, sass/_typo.scss */
a:active {
  text-decoration: none;
}

/* line 1, sass/_main.scss */
body {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 10px;
}

/* line 2, sass/_elem_button.scss */
.button {
  font-size: 1em;
  border-radius: 8px;
  padding: 10px;
  color: #040D2C;
  border: 1px solid #516092;
  box-shadow: 0 1px 0 0 #516092 inset;
  background: #B9C2DF;
  background: -webkit-linear-gradient(#B9C2DF, #516092);
  background: -moz-linear-gradient(#B9C2DF, #516092);
  background: -o-linear-gradient(#B9C2DF, #516092);
  background: linear-gradient(#B9C2DF, #516092);
}
/* line 16, sass/_mixins.scss */
.button:hover {
  border: 1px solid #B9C2DF;
  background: #516092;
  background: -webkit-linear-gradient(#516092, #040D2C);
  background: -moz-linear-gradient(#516092, #040D2C);
  background: -o-linear-gradient(#516092, #040D2C);
  background: linear-gradient(#516092, #040D2C);
  color: #B9C2DF;
}

/* line 5, sass/_elem_button.scss */
.button.default {
  font-size: 1em;
  border-radius: 8px;
  padding: 10px;
  color: #040D2C;
  border: 1px solid #516092;
  box-shadow: 0 1px 0 0 #516092 inset;
  background: #B9C2DF;
  background: -webkit-linear-gradient(#B9C2DF, #516092);
  background: -moz-linear-gradient(#B9C2DF, #516092);
  background: -o-linear-gradient(#B9C2DF, #516092);
  background: linear-gradient(#B9C2DF, #516092);
}
/* line 16, sass/_mixins.scss */
.button.default:hover {
  border: 1px solid #B9C2DF;
  background: #516092;
  background: -webkit-linear-gradient(#516092, #040D2C);
  background: -moz-linear-gradient(#516092, #040D2C);
  background: -o-linear-gradient(#516092, #040D2C);
  background: linear-gradient(#516092, #040D2C);
  color: #B9C2DF;
}

/* line 8, sass/_elem_button.scss */
.button.warning {
  font-size: 1em;
  border-radius: 8px;
  padding: 10px;
  color: #400000;
  border: 1px solid red;
  box-shadow: 0 1px 0 0 #516092 inset;
  background: #ff8484;
  background: -webkit-linear-gradient(#ff8484, red);
  background: -moz-linear-gradient(#ff8484, red);
  background: -o-linear-gradient(#ff8484, red);
  background: linear-gradient(#ff8484, red);
}
/* line 16, sass/_mixins.scss */
.button.warning:hover {
  border: 1px solid #ff8484;
  background: red;
  background: -webkit-linear-gradient(red, #400000);
  background: -moz-linear-gradient(red, #400000);
  background: -o-linear-gradient(red, #400000);
  background: linear-gradient(red, #400000);
  color: #ff8484;
}

/* line 11, sass/_elem_button.scss */
.button.else {
  font-size: 1em;
  border-radius: 8px;
  padding: 10px;
  color: #222222;
  border: 1px solid #747474;
  box-shadow: 0 1px 0 0 #516092 inset;
  background: #c8c8c8;
  background: -webkit-linear-gradient(#c8c8c8, #747474);
  background: -moz-linear-gradient(#c8c8c8, #747474);
  background: -o-linear-gradient(#c8c8c8, #747474);
  background: linear-gradient(#c8c8c8, #747474);
}
/* line 16, sass/_mixins.scss */
.button.else:hover {
  border: 1px solid #c8c8c8;
  background: #747474;
  background: -webkit-linear-gradient(#747474, #222222);
  background: -moz-linear-gradient(#747474, #222222);
  background: -o-linear-gradient(#747474, #222222);
  background: linear-gradient(#747474, #222222);
  color: #c8c8c8;
}

/* line 3, sass/_elem_form.scss */
form {
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 #040D2C;
  box-sizing: border-box;
  width: 50%;
  max-width: 500px;
}
/* line 11, sass/_elem_form.scss */
form p {
  padding: 5px 10px 5px 0;
  margin: 0 auto 5px;
  font-size: 1.1em;
}
/* line 16, sass/_elem_form.scss */
form .legend {
  border-bottom: 2px solid #040D2C;
  margin: 0 15px 20px;
}
/* line 22, sass/_elem_form.scss */
form div {
  margin: 0 0 15px 0;
  border: none;
}
/* line 27, sass/_elem_form.scss */
form label {
  display: inline-block;
  width: 45%;
  margin: auto;
  text-align: right;
  padding-right: 10px;
}
/* line 35, sass/_elem_form.scss */
form input {
  width: 45%;
  padding: 5px;
  font-size: 0.9em;
  border-radius: 5px;
  background: rgba(81, 96, 146, 0.05);
}
/* line 43, sass/_elem_form.scss */
form input:focus {
  background: rgba(81, 96, 146, 0.2);
}
/* line 47, sass/_elem_form.scss */
form .sep {
  border: 1px solid #040D2C;
  position: relative;
  margin: 35px 20px;
}

/* line 1, sass/_elem_table.scss */
table {
  margin: 5px 0 0 0;
  border-collapse: collapse;
  border: 1px solid #040D2C;
  box-sizing: border-box;
  width: 100%;
}
/* line 8, sass/_elem_table.scss */
table thead tr {
  color: #B9C2DF;
  border: 1x solid #B9C2DF;
}
/* line 11, sass/_elem_table.scss */
table thead tr th {
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid #B9C2DF;
  text-align: center;
  font-size: 13px;
  background-color: #000103;
}
/* line 20, sass/_elem_table.scss */
table thead tr td {
  border: 1px solid #B9C2DF;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 33, sass/_elem_table.scss */
table tbody tr td {
  background-color: #B9C2DF;
  color: #000103;
  border: 1px solid #000103;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 42, sass/_elem_table.scss */
table tbody tr th {
  background-color: #516092;
  color: #000103;
  border: 1px solid #000103;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 53, sass/_elem_table.scss */
table tbody tr:hover {
  background-color: rgba(185, 194, 223, 0.9);
}
/* line 56, sass/_elem_table.scss */
table tbody tr:hover th {
  background-color: rgba(81, 96, 146, 0.8);
}
/* line 59, sass/_elem_table.scss */
table tbody tr:hover td {
  background-color: rgba(0, 0, 0, 0.2);
}

/* msgbox   */
/* Par defaut ogspy style   */
/* line 5, sass/_elem_msgbox.scss */
.msgbox {
  padding: 0px;
  margin-top: 15px;
}
/* line 8, sass/_elem_msgbox.scss */
.msgbox p {
  background-color: #B9C2DF;
  color: #040D2C;
  border: 1px solid #000103;
  border-top: none;
}
/* line 13, sass/_elem_msgbox.scss */
.msgbox p .notice {
  color: #000103;
  font-size: 11px;
}
/* line 20, sass/_elem_msgbox.scss */
.msgbox div {
  background-color: #B9C2DF;
  color: #040D2C;
  border: 1px solid #000103;
  border-top: none;
}
/* line 27, sass/_elem_msgbox.scss */
.msgbox p.msgboxtitle {
  padding: 3px;
  color: #B9C2DF;
  border: 1px solid #000103;
  border-bottom: 1px solid #B9C2DF;
  text-align: left;
  font-size: 13px;
  background-color: #000103;
}
/* line 36, sass/_elem_msgbox.scss */
.msgbox p.msgboxtitle .notice {
  color: #ECFF00;
}
/* line 42, sass/_elem_msgbox.scss */
.msgbox .msgcontent {
  padding: 15px;
}
/* line 45, sass/_elem_msgbox.scss */
.msgbox span.msgboxclosebtn {
  margin-left: 15px;
  paddin: 0;
  padding-bottom: 15px;
  color: #21b2ff;
  font-weight: bold;
  float: right;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
/* line 55, sass/_elem_msgbox.scss */
.msgbox span.msgboxclosebtn :hover {
  color: white;
}

/* Par alert   */
/* line 63, sass/_elem_msgbox.scss */
.msgbox.msgboxalert p.msgboxtitle {
  background-color: #8a2f24;
  color: white;
  border: none;
}

/* line 69, sass/_elem_msgbox.scss */
.msgbox.msgboxalert p.msgcontent {
  background: none;
  background-color: #f44336;
}

/* line 73, sass/_elem_msgbox.scss */
.msgbox.msgboxalert span.msgboxclosebtn {
  color: white;
}

/* line 76, sass/_elem_msgbox.scss */
.msgbox.msgboxalert span.msgboxclosebtn:hover {
  color: black;
}

/* Par success   */
/* line 82, sass/_elem_msgbox.scss */
.msgbox.msgboxsuccess p.msgboxtitle {
  background-color: #376f37;
  color: white;
  border: none;
}

/* line 88, sass/_elem_msgbox.scss */
.msgbox.msgboxsuccess p.msgcontent {
  background: none;
  background-color: #4e9051;
}

/* line 92, sass/_elem_msgbox.scss */
.msgbox.msgboxsuccess span.msgboxclosebtn {
  color: white;
}

/* line 95, sass/_elem_msgbox.scss */
.msgbox.msgboxsuccess span.msgboxclosebtn:hover {
  color: black;
}

/* fin msgbox   */
/* line 1, sass/_view_header.scss */
header {
  background-color: #040D2C;
  text-align: center;
}

/* line 1, sass/_view_menu_left.scss */
.menu {
  margin-right: 10px;
  border: 1px solid #000103;
}
/* line 6, sass/_view_menu_left.scss */
.menu aside {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #516092;
}
/* line 11, sass/_view_menu_left.scss */
.menu aside .logo_menu {
  background-image: url("img/logo_menu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 100%;
  width: 100%;
  height: 60px;
  padding: 0px;
  margin: 5px 0px 0px;
}
/* line 22, sass/_view_menu_left.scss */
.menu aside .timer {
  text-align: center;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
/* line 27, sass/_view_menu_left.scss */
.menu aside .timer br {
  content: "";
  display: block;
  margin-bottom: 5px;
}
/* line 33, sass/_view_menu_left.scss */
.menu aside .timer span {
  font-weight: bold;
  color: #ECFF00;
}
/* line 39, sass/_view_menu_left.scss */
.menu aside .offline {
  color: red;
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

/* line 52, sass/_view_menu_left.scss */
.menu nav {
  margin-top: 10px;
  text-transform: uppercase;
  text-align: left;
}
/* line 57, sass/_view_menu_left.scss */
.menu nav ul.navmenu {
  margin: 0;
  padding: 0;
}
/* line 60, sass/_view_menu_left.scss */
.menu nav ul.navmenu li {
  border: 2px solid #516092;
  background-color: #B9C2DF;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
/* line 65, sass/_view_menu_left.scss */
.menu nav ul.navmenu li a {
  color: #000103;
}
/* line 70, sass/_view_menu_left.scss */
.menu nav ul.navmenu li:hover {
  border: 2px solid #B9C2DF;
  background-color: #000103;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
/* line 75, sass/_view_menu_left.scss */
.menu nav ul.navmenu li:hover a {
  color: #B9C2DF;
}
/* line 81, sass/_view_menu_left.scss */
.menu nav ul.navmenu li.menu_items_modules {
  border: 2px solid #B9C2DF;
  background-color: #516092;
}
/* line 87, sass/_view_menu_left.scss */
.menu nav ul.navmenu li.menu_items_modules:hover li a {
  color: #000103;
}
/* line 93, sass/_view_menu_left.scss */
.menu nav ul.navmenu li.menu_items_modules:hover li:hover a {
  color: #B9C2DF;
}

/* line 1, sass/_view_menu_navbar.scss */
nav.navbarreMenu {
  width: 100%;
  margin: auto;
  background-color: #516092;
  box-sizing: border-box;
}
/* line 7, sass/_view_menu_navbar.scss */
nav.navbarreMenu ul {
  padding: 0;
  margin: auto;
  text-align: center;
}
/* line 11, sass/_view_menu_navbar.scss */
nav.navbarreMenu ul li {
  display: inline-block;
  min-width: 150px;
}
/* line 14, sass/_view_menu_navbar.scss */
nav.navbarreMenu ul li a {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  display: block;
  border: 2px solid #516092;
  background-color: #B9C2DF;
  color: #000103;
}
/* line 21, sass/_view_menu_navbar.scss */
nav.navbarreMenu ul li a:hover {
  border: 2px solid #B9C2DF;
  background-color: #000103;
  color: #B9C2DF;
}
/* line 24, sass/_view_menu_navbar.scss */
nav.navbarreMenu ul li .actif {
  border: 2px solid #B9C2DF;
  background-color: #516092;
  color: #B9C2DF;
}

/* line 2, sass/_view_footer.scss */
#footbarre {
  background-color: #516092;
  line-height: 18px;
  font-style: italic;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-gap: 0px;
}
/* line 10, sass/_view_footer.scss */
#footbarre .toologs {
  margin: 0;
  padding: 0;
  text-align: left;
}
/* line 14, sass/_view_footer.scss */
#footbarre .online {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 18, sass/_view_footer.scss */
#footbarre .bench {
  margin: 0;
  padding: 0;
  text-align: right;
}
/* line 22, sass/_view_footer.scss */
#footbarre span {
  color: #ECFF00;
  font-weight: bold;
}
