table {
  margin: 5px 0 0 0;
  border-collapse: collapse;
  border: 1px solid $color3;

  @include Boxfull();
  thead {
    tr {
      color: $color1;
      border: 1x solid $color1;
      th {
        padding-top: 3px;
        padding-bottom: 3px;
        border: 1px solid $color1;
        text-align: center;
        font-size: 10px * 1.3;
        background-color: $color4;

      }
      td {
        border: 1px solid $color1;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }



  tbody {
    tr {
      td {
        background-color: $color1;
        color: $color4;
        border: 1px solid $color4;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 2px;
      }

      th {
        background-color: $color2 ;
        color: $color4;
        border: 1px solid $color4;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 2px;

      }

    }
    tr:hover
    {
      background-color: rgba($color1,0.9);
      th {
        background-color:rgba($color2,0.8);
      }
      td {
        background-color: rgba(0,0,0,0.2);
      }
    }


  }



}

