//-------------BASE------------------
@mixin base-noMarginPadding {
  margin: 0;
  padding: 0;
}

@mixin create-button($mixcolor1,$mixcolor2,$mixcolor3){
    font-size: 1em;
    border-radius: 8px;
    padding: 10px;
    color:$mixcolor3;
    border: 1px solid $mixcolor2;
    box-shadow: 0 1px 0 0 $color2 inset;
    @include linear-gradient($mixcolor1, $mixcolor2);

    &:hover {
      border: 1px solid $mixcolor1;
      @include linear-gradient($mixcolor2, $mixcolor3);
      color:$mixcolor1;
  }
}


//taille des differents elements ( table, panel, ...)
@mixin Boxfull()
{
  box-sizing :border-box;
  width : 100%;

}

@mixin BoxBig()
{
  box-sizing :border-box;
  width : 80%;
  max-width: 800px;
}

@mixin BoxLittle()
{
  box-sizing :border-box;
  width : 250px;
}

@mixin BoxDefault()
{
  box-sizing :border-box;
  width : 50%;
  max-width: 500px;
}

//affichage sur diffeentes colonnes
@mixin ColumnParent()
{
  :after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin Columnchild1()
{
  float: left;
  width: 100%;
}
@mixin Columnchild2()
{
  float: left;
  width: 50%;
}
@mixin Columnchild3()
{
  float: left;
  width: 33.33%;
}
@mixin Columnchild1()
{
  float: left;
  width: 25%;
}

//-----------FIN BASE----------------

//----------Couleur -----------


@mixin linear-gradient($colorTop, $ColorBottom) {
  background: $colorTop;
  background: -webkit-linear-gradient($colorTop, $ColorBottom);
  background: -moz-linear-gradient($colorTop, $ColorBottom);
  background: -o-linear-gradient($colorTop, $ColorBottom);
  background: linear-gradient($colorTop, $ColorBottom);
}
//----------FIN Couleur -----------

// -------------MENU------------------
// MIXIN  Menu
@mixin menu-left-li-light {
  border: 2px solid $color2;
  background-color: $color1;

}

@mixin menu-left-subli {
  border: 2px solid $color1;
  background-color: $color2;
}

@mixin menu-left-li-dark {
  border: 2px solid $color1;
  background-color: $color4;
}

////-----------FIN MENU----------------

//----------navbar
// dans ce skin on reprend  les memes couleurs que pour le menu
@mixin menu-navbar-li-light {
  @include  menu-left-li-light;
  color: $color4;
}

@mixin menu-navbar-li-active {
  @include  menu-left-subli;
  color: $color1;
}

@mixin menu-navbar-li-dark {
  @include  menu-left-li-dark;
  color: $color1;
}