//-------------BASE------------------
@mixin base-noMarginPadding {
  margin: 0;
  padding: 0;
}

//-----------FIN BASE----------------



// -------------MENU------------------
// MIXIN  Menu
@mixin menu-left-li-light {
  border: 2px solid $color2;
  background-color: $color1;

}

@mixin menu-left-subli {
  border: 2px solid $color2;
  background-color: $color2;
}

@mixin menu-left-li-dark {
  border: 2px solid $color1;
  background-color: $color4;
}

////-----------FIN MENU----------------

//----------navbar
// dans ce skin on reprend  les memes couleurs que pour le menu
@mixin menu-navbar-li-light {
  @include  menu-left-li-light;
  color: $color4;
}

@mixin menu-navbar-li-active {
  @include  menu-left-subli;
  color: $color1;
}

@mixin menu-navbar-li-dark {
  @include  menu-left-li-dark;
  color: $color1;
}