

h1{
  color: $color3;
  font-size: 1.5em;
}

.notice{
  color: $color4;

}
.warning
{
  color:$color_font_warm;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: default;
}

a:active {
  text-decoration: none;
}


