

.navbarreMenu {
  max-width: 100%;
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(0, 0, 0, 0) 100%);
  margin: 0 auto;
  padding: 20px 0;
  ul
  {
    li{
      display: inline-block;
    }

  }

}


 .navbarreMenu ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0,0,0, 0.8) 10%, rgba(0,0,0, 0.8) 90%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 2px black, inset 0 0 1px rgba(255, 255, 255, 1);
}

.navbarreMenu2 ul  li {
  display: inline-block;
}
.navbarreMenu2 ul  li a {
  padding: 10px;
  color: lime;
  font-size: 12px;
  text-decoration: none;
  display: block;
}

.navbarreMenu2 ul  li a:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(30,16,42, 0.5) 25%, rgba(30,16,42, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
  color: #5CCCE8;
}

 .navbarreMenu2 ul  li.actif a{

  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(30,16,42, 0.8) 25%, rgba(30,16,42, 0.8) 75%, rgba(255, 255, 255, 0) 100%);
  color: #5CCCE8;
}
