nav.navbarreMenu {
  width: $menu-navbar-width;
  margin: $menu-navbar-margin;
  background-color : $color2;
  box-sizing :border-box;

  ul {
    padding: 0;
    margin: auto;
    text-align: $menu-navbar-textalign;
    li {
      display: inline-block;
      min-width: 150px;
      a
      {
        margin:  $menu-left-margin;
        padding: $menu-left-padding;
        display: block;
        @include menu-navbar-li-light;
      }
      a:hover {
        @include menu-navbar-li-dark;
      }
      .actif
      {
        @include menu-navbar-li-active;
      }

    }
  }

}
