<Files *.js>
Allow from all
</Files>
<Files *.png>
Allow from all
</Files>
<Files *.jpg>
Allow from all
</Files>
<Files *.gif>
Allow from all
</Files>
<Files *.css>
Allow from all
</Files>
deny from all
